.ex1 {
    margin: 8px 32px 32px 16px;
    padding: 16px 32px;
    border: 1px solid rgb(32, 32, 32);
}

.ex2 :nth-child(1) {
    color: blue;
}

.ex2 :nth-child(3) {
    color: red;
}

.ex2 :last-child {
    color: green;
}

.square {
    height: 75px;
    width: 75px;
    border: 1px solid black;
}

.square:hover {
    border-color: red;
}

.ex4 {
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}

.ex4v2 {
    height: 50%;
    width: 25%;
    background-color: green;
}

.ex5::after {
    content: 'after';
    margin-left: 6px;
}

.ex5::before {
    content: 'before';
    margin-right: 6px;
}